---
layout: default
title: 归档
permalink: /archive
---
<h3 class="post-title">{{ page.title }}</h3>
<div class="post-line"></div>
{% assign count = 1 %}
{% for post in site.posts %}
    {% assign count = count | plus: 1 %}
    {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if currentyear != year %}
        {% unless forloop.first %}
        </ul>
        {% endunless %}
        <h3 class="post-archive-year">{{ currentyear }}</h3>
        <ul class="post-archive">
        {% capture year %}{{ currentyear }}{% endcapture %}
    {% endif %}
    <li>
        <a href="{{ site.baseurl }}{{ post.url }}" class="post-archive-link">
            {{ post.title }}
        </a>
    </li>
{% endfor %}
<p>共计文章：{{ count }}篇</p>
