<!-- 文章列表页 -->

<div class="catalogue-item">
  <a href="{{ post.url | prepend: site.baseurl }}">
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>
  </a>

  {% if include.sticky == 'true' %}
  <span class="catalogue-pinned">置顶 &middot;</span>
  {% endif %}
  <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>

  <p>
    {% if post.excerpt_separator %}
      {{ post.excerpt | strip_html }}
    {% else %}
      {{ post.content | strip_html | truncatewords: 30 }}
    {% endif %}
  </p>

</div>
