<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">主页</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">归档</a></li>
      <li><a href="{{ '/project' | prepend: site.baseurl }}">项目</a></li>
      <li><a href="{{ '/tool' | prepend: site.baseurl }}">工具</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">关于</a></li>
    </ul>
  </div>
</nav>
