---
layout: default
---

<div class="post">

  <h3 class="post-title">{{ page.title }}</h3>
  <div class="post-line"></div>

  <div class="post-info">
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  
  {{ content }}

  {% if page.tags %}
    {% for tag in page.tags %}
      <span class="tag-code">{{ tag }}</span>
    {% endfor %}
  {% endif %}
</div>

<!-- Comments -->
{% include comments.html %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

<style scoped>
  .tag-code {
    font-family: 'Roboto Mono', Monaco, courier, monospace;
    font-size: 0.8em;
    display: inline-block;
    background-color: #f8f8f8;
    color: #e96900;
    padding: 3px 5px;
    margin: 0 2px 5px 0;
    border-radius: 2px;
    white-space: nowrap;
  }

  table {
    border-left: 1px solid #000000;
    border-top:1px solid #000000;
    width: 100%;
    word-wrap:break-word;
    word-break:break-all;
    border-right :1px solid #D00000;
    border-bottom:1px solid #000000;
  }

  table th {
    text-align:center;
  }

  table th, td {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
  
</style>