---
layout: default
---

<div class="post">

  <h3 class="post-title">{{ page.title }}</h3>
  <div class="post-line"></div>

  <div class="post-info">
    {% if page.date %}
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>
  
  {{ content }}

  {% if page.tags %}
    {% for tag in page.tags %}
      <span class="tag-code">{{ tag }}</span>
    {% endfor %}
  {% endif %}
</div>

{% include comments.html %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

<style scoped>
  /* 表格样式 */
  table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
  }

  table th {
    font-weight: 600;
  }

  table th,table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }

  table tr {
    background-color:#fff;
    border-top:1px solid #c6cbd1;
  }

  table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  table img {
    background-color:transparen;
  }
  
</style>